<?xml version="1.0"?>
<model>
  <name>cuboidal</name>
  <version>1.0</version>
  <sdf>cuboidal.urdf</sdf>
  <author>
    <name>Jan Winkler</name>
    <email>winkler@cs.uni-bremen.de</email>
  </author>
  <description>
    A cuboidal test object for manipulation in simulation.
  </description>
</model>
